.offerTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    margin: auto 0px;
    padding-top: 45px;
    padding-bottom: 45px;
    font-weight: 900;
    color: white;
    background-color: rgb(29, 45, 73);
}

.offerPage {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    // max-width: 1400px;
    // align-items: center;


    .buttonOffer {
        list-style: none;
        text-decoration: none;
        width: 50%;
        height: 420px;
        overflow: hidden;

        .buttonOffer__container {
            border: 15px solid white;
            height: 390px;
            overflow: hidden;

            .wash {
                width: 100%;
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;
                transition: 2s;
                z-index: 0;
                overflow: hidden;

                .wash__name {
                    font-size: 30px;
                    font-weight: 800;
                    padding-bottom: 30px;
                    text-transform: uppercase;
                    color: white;
                    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
                        0px 8px 13px rgba(0, 0, 0, 0.2),
                        0px 18px 23px rgba(0, 0, 0, 0.1);
                }

            }
        }

        #one {
            background-image: url("../img/01.jpg");
            background-size: cover;
            background-position: center;
        }

        #two {
            background-image: url("../img/01\ \(1\).jpg");
            background-position: center;
            background-size: cover;
        }

        #three {
            background-image: url("../img/02.jpg");
            background-position: center;
            background-size: cover;
        }

        #four {
            background-image: url("../img/gasienicowe.jpg");
            background-position: center;
            background-size: cover;
        }

        #five {
            background-image: url("../img/obiegi_wod.jpg");
            background-position: center;
            background-size: cover;
        }

        #six {
            background-image: url("../img/przejazdowa.jpg");
            background-position: center;
            background-size: cover;
        }

        #one:hover,
        #two:hover,
        #three:hover,
        #four:hover,
        #five:hover,
        #six:hover {
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
        }
    }

    @media (max-width: 992px) {
        .buttonOffer {
            width: 100%;
        }
    }
}